body{
    padding: 100px;
} .bubmit-area{
    width: 70%;
    margin: auto;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 5px 5px 10px green;
}
.bubmit-area input{
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    width: 80%;
    padding: 5px;
    margin: 5px 0px;
    font-family: tahoma;
}


#transaction-area{
    display: none;
}

.deposite{
    background-color: rosybrown;
}
.widthdraw{
    background-color: royalblue;
}
.balance{
    background-color: seagreen;
}
.status{
    color: seashell;
    padding: 10px;
    border-radius: 10px;
}
.bank{
    margin-top: 50px;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 5px 5px 10px gray; 
}